{% extends "base_account.html" %}
{% load static %}
{% block content %}

 <div class="jumbotron">
        <h1>Dashboard</h1>
        <p>Welcome to your dashboard.</p>
    </div>

    <div class="container">
        <h3 id="result"></h3>
    </div>

   <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}