{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

		<section id="content">

			<div class="content-wrap nopadding">

				<div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url({% static 'canvas/images/parallax/home/1.jpg'%}) center center no-repeat; background-size: cover;"></div>

				<div class="section nobg full-screen nopadding nomargin">
					<div class="container-fluid vertical-middle divcenter clearfix">

						<div class="center">
							<a href="index.html"><img src="{% static 'canvas/images/logo-dark.png'%}" alt="Canvas Logo"></a>
						</div>

						<div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
							<div class="card-body" style="padding: 40px;">
								<form id="login-form" name="login-form" class="nobottommargin" action="{% url 'account_login' %}" method="post">
									<h3>Login to your Account...</h3>
                                        {% csrf_token %}
                                        {{ form |crispy }}
                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}
									<div class="col_full nobottommargin">
										<button class="button button-3d button-black nomargin"
                                                id="login-form-submit" name="login-form-submit"
                                                value="login">Login</button>
										<a href="{% url 'account_reset_password' %}" class="fright">Forgot Password?</a>
									</div>
								</form>

								<div class="line line-sm"></div>

								<div class="center">
                                {% get_providers as socialaccount_providers %}

                                {% if socialaccount_providers %}
                                    <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                                    <div class="socialaccount_ballot">

                                        <ul class="socialaccount_providers">
                                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                        </ul>

                                        <div class="login-or">{% trans 'or' %}</div>

                                    </div>

                                    {% include "socialaccount/snippets/login_extra.html" %}

                                {% else %}
                                    <p>{% blocktrans %}If you have not created an account yet, then please
                                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                                {% endif %}
								</div>
							</div>
						</div>

						<div class="center dark"><small>Copyrights &copy; All Rights Reserved by Canvas Inc.</small></div>

					</div>
				</div>

			</div>

		</section><!-- #content end -->

    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
