{#{% extends "base.html" %}#}
{##}
{##}
{#{% block head_title %}{% trans "Sign Out" %}{% endblock %}#}

{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% load i18n %}

{% block content %}
      <main>
    <section id="content">

			<div class="content-wrap nopadding">

				<div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url({% static 'canvas/images/parallax/home/1.jpg'%}) center center no-repeat; background-size: cover;"></div>

				<div class="section nobg full-screen nopadding nomargin">
					<div class="container-fluid vertical-middle divcenter clearfix">

						<div class="center">
							<a href="index.html"><img src="{% static 'canvas/images/logo-dark.png'%}" alt="Canvas Logo"></a>
						</div>

						<div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
							<div class="card-body" style="padding: 40px;">
								<form id="login-form" name="login-form" class="nobottommargin" action="{% url 'account_logout' %}" method="post">
									<h3>Are you sure you want to sign out</h3>
                                        {% csrf_token %}
                                          {% if redirect_field_value %}
                                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                          {% endif %}
									<div class="col_full nobottommargin">
										<button class="button button-3d button-black nomargin"
                                                id="login-form-submit" name="login-form-submit"
                                                value="login">{% trans 'Sign Out' %}</button>
{#										<a href="{% url 'account_reset_password' %}" class="fright">Forgot Password?</a>#}
									</div>
								</form>

							</div>
						</div>

						<div class="center dark"><small>Copyrights &copy; All Rights Reserved by Canvas Inc.</small></div>

					</div>
				</div>

			</div>

		</section><!-- #content end -->

  </main>



{% endblock %}
