<template>
  <div>
    
  <el-button>默认按钮</el-button>
    <ul>
      <li class="item-group">lionhu </li>
      <li class="item-group">Kinghu</li>
      <li class="item-group">Tang</li>
    </ul>
    <el-table
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="date"
        label="日期"
        width="180">
      </el-table-column>
      <el-table-column
        prop="name"
        label="姓名"
        width="180">
      </el-table-column>
      <el-table-column
        prop="address"
        label="地址">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>

  import {mapActions, mapState,mapGetters} from "vuex"
  import { Button, Select,Table,TableColumn } from 'element-ui';
  import 'element-ui/lib/theme-chalk/index.css';

  export default {
    name: 'app',
    components:{
        elTable: Table,
        elTableColumn: TableColumn,
        elButton: Button
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js',
        news_china:"",
        date:"",
        min_date:"",
        tableData: [{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄'
          }, {
            date: '2016-05-04',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1517 弄'
          }, {
            date: '2016-05-01',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1519 弄'
          }, {
            date: '2016-05-03',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1516 弄'
          }]
      }
    },
    computed:{
      // token(){
      //         return this.$store.state.system.token;
      // },
    },
    created() {
      console.log("output from  test.vue");
    },
    methods: {
      
    }
  }
</script>

<style lang="scss">
.item-group {
  color: white
}
</style>